.header {
  color: gold;
  text-shadow: 2px 2px darkslategrey;
  text-align: center;
}

body {
  background-color: brown;
  color: lemonchiffon;
  text-shadow: 2px 2px darkslategrey;
}

.pageContainer {
  display: flex;
  flex-wrap: row;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  width: 220px;
  margin: 15px;
  height: 326px;
}

.card-img {
  height: 326px;
}

.card-title, .card-date, .card-time, .card-box {
  font-size: 16px;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  /* modal covers entire viewport and keeps it positioned at top-left corner */
  left: 0;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity (background outside modal) */
  padding-top: 60px; /* Location of the box */
}

.modal-content {
  background-color: royalblue;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalButton {
  display: flex;
  justify-content: center;
}

